:root {
  --primary: rgb(241, 204, 107);
  --secondary: rgb(48, 48, 236);
  --tertiary: rgb(247, 92, 123);
}
#main-image {
  width: 150%;
  height: auto;
  grid-column: 6 / span 3;
}
#main-text-button {
  grid-column: 1 / span 5;
  text-align: center;
}
.main {
  align-items: center;
}
body {
  background-color: var(--primary);
  overflow-x: hidden;
  font-family: Abel;
}
.button {
  border: 4px solid gold;
  padding: 6px 12px;
  color: var(--secondary);
  font-weight: bold;
  border-radius: 5%;
  text-transform: uppercase;
  display: inline-block;
}
.button:hover {
  background-color: gold;
}
input,
textarea {
  background: rgba(228, 52, 87, 0.03);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(--tertiary);
  color: whitesmoke;
}
textarea {
  height: 5rem;
}
::placeholder {
  color: rgba(48, 48, 236, 0.8);
  text-transform: capitalize;
  font-weight: bold;
}
/* reset browser defaults */

li {
  list-style-type: none;
}
body,
a,
li,
ul,
p {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h3,
h4 {
  color: var(--tertiary);
  font-weight: normal;
  font-size: 1.2em;
}
h2 {
  color: var(--tertiary);
  font-weight: normal;
  font-size: 1em;
}
ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}
li {
  color: rgb(50, 50, 235);
  font-weight: bold;
  font-size: 0.7em;
  height: 2em;
  box-sizing: border-box;
}
li:hover {
  border-bottom: 2px solid var(--tertiary);
  display: inline-block;
}
p {
  color: var(--secondary);
  size: 1.1em;
}

.techskills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
}
.techskills div {
  text-align: center;
}
.techskills h2 {
  color: var(--secondary);
  font-weight: bold;
}
.techimg {
  max-width: 100%;
  height: 70%;
  object-fit: contain;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
nav {
  grid-column: 6 / span 3;
  display: none;
}
.leading {
  grid-column: 1 / span 6;
}
.leading-text {
  color: var(--secondary);
  font-weight: bold;
  border-bottom: 2px solid crimson;
  display: inline-block;
  padding: 0rem 0.5rem;
  margin-left: 1rem;
}
/* styles for small tablets */
@media screen and (min-width: 680px) {
  body {
    font-size: 16px;
  }
  .leading {
    grid-column: 1 / span 4 !important;
  }
  nav {
    display: inline-block;
  }
  #main-image {
    width: 100%;
  }
}
/* styles for large tablets and small laptops */
@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
  .leading {
    grid-column: 1 / span 4 !important;
  }
  nav {
    display: inline-block;
  }
  #main-image {
    width: 100%;
  }
}
/* styles for larger screens */
@media screen and (min-width: 1200px) {
  body {
    font-size: 24px;
  }
  .leading {
    grid-column: 1 / span 4 !important;
  }
  nav {
    display: inline-block;
  }
  #main-image {
    width: 100%;
  }
}
